noscript {
    position: absolute;
    z-index: 99999;
    display: flex;
    height: 100vh;
    width: 100vw;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 24px;
    background-color: var(--bgCode);
}
noscript > a {
    text-decoration: none;
    transition: all ease .2s;
}
noscript > a:hover {
    scale: 1.1;
}

a#title {
    font-size: 20px;
    color: var(--fg1) !important;
    text-decoration: none;
    font-weight: bold;
    padding-top: 2px;
}
header {
    padding: 8px;
    background-color: var(--bg3);
    color: var(--fg1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: sticky;
    top: 0;
}
select {
    background-color: var(--bg4);
    border: 2px solid var(--b1);
    border-radius: 5px;
    padding: 4px 8px;
    color: var(--fg1);
    width: clamp(20px, 40%, 400px);
    justify-self: end;
}
select:focus {
    outline: none;
    border-color: var(--prim);
}

p#sec-title {
    margin: 0;
    justify-self: center;
    font-weight: 600;
    font-size: 20px;
    padding-right: 32px;
}

main#app {
    height: calc(100vh - 46px);
    width: 100vw;
    display: flex;
}

main#app > section#bar {
    box-sizing: border-box;
    width: 12%;

    background-color: var(--b1);
    display: flex;
    flex-direction: column;
}

main#app > section#interactive {
    width: 88%;
    display: flex;
    flex-direction: column;
}

main#app > section#interactive > div#messages {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: .5rem;

    overflow-x: scroll;
    padding-bottom: 142px;
}
article.message_user {
    margin-left: auto;

    border: 2px solid var(--b2);
    border-radius: 15px;
    padding: 4px 16px;

    min-width: 40px;
    width: fit-content;
    max-width: 400px;
}
article.message_system {
    color: var(--bgCode);
    text-align: center;
}
article.message_assistant {
    border: 2px solid var(--b1);
    border-radius: 15px;
    padding: 4px 16px;

    min-width: 40px;
    width: fit-content;
    max-width: 800px;
}
article.message_assistant think {
    background-color: var(--bgCode);
    width: fit-content;
    display: block;
    flex-direction: column;
    border-radius: 11px;
    padding: 8px 16px;
    margin-block: .5em;
}

main#app > section#interactive > div#form {
    position: absolute;
    inset: 3rem 0 0 12%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
textarea#content {
    transform: translateY(-50%);

    outline: none;
    border: 2px solid var(--b1);
    background-color: var(--bgCode);
    font-size: 14px;
    padding: 8px;
    resize: none;
    width: 800px;
    min-height: calc(4 * 14px);
    max-height: calc(8 * 14px);
    border-radius: .5rem;
    color: var(--fg2);
}
textarea#content:focus {
    border-color: var(--prim);
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

article.placeholder {
    justify-content: center;

    display: flex;
    gap: .5rem;
    align-items: center;
}
article.placeholder > svg {
    transition: all ease .2s;
    color: var(--sec);
    animation: infinite loader 2s linear;
}

div#form.active {
    position: fixed !important;
    top: initial !important;
    bottom: 0;
    left: 0;
    right: 0;

    align-items: center;
    justify-content: center;

    background: linear-gradient(
        to top,
        var(--bg1) 70%,
        rgba(238, 255, 248, 0.85) 85%,
        transparent
    );

    backdrop-filter: blur(6px);

    & textarea {
        transform: none;
    }
}

section#bar > button#add_new_chat {
    outline: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding-block: 1rem;

    transition: all .2s ease;
}

section#bar > button#add_new_chat:hover {
    color: var(--prim);
    background-color: var(--bg2);
}