#title {
    font-size: 20px;
    color: var(--fg1);
    text-decoration: none;
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 2;
}
#proj-title {
    text-align: center;
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
    font-size: 24px;
    color: var(--fg1);
    text-decoration: none;
}
header {
    padding: 8px;
    background-color: var(--bg3);
    color: var(--fg1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; 
    align-items: center;
    justify-content:space-between;
    position: sticky;
    top: 0;
    z-index: 25;
}
input {
    background-color: var(--bg4);
    border: 2px solid var(--b1);
    border-radius: 5px;
    padding: 4px 8px;
    width: 100%;
    color: var(--fg1);
}
input:focus {
    outline: none;
    border-color: var(--prim);
}

form {
    justify-self: end;
    width: clamp(20px, calc(40% * 3), 400px);
    padding-right: 24px;
    grid-area: 1 / 3 / 2 / 4;
}

#app {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 16px;
    padding: 32px;
    margin: 0 auto;
}

#explore {
    grid-column: 1 / 1;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;

    position: sticky;
    top: 5rem;
    height: fit-content;

    background-color: var(--b1);
}

#area {
    grid-column: 2 / 9;
    grid-row: 1 / 2;
    padding: 16px;
    border-radius: 8px;
}

p { line-height: 1.7rem; }

pre {
    font-size: 14px;
}

blockquote {
    box-sizing: border-box;
    position: relative;
    margin-left: 20px;
    padding-left: 15px;

    font-family: 'Courier New', Courier, monospace;
}
blockquote::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    border-radius: 2px;
    background-color: var(--prim);
}

table { border-collapse: collapse; box-sizing: border-box; min-width: 40%; }
thead { background-color: var(--bgCode); }
th, td { padding: 0.25rem 0.5rem; border: 1px solid var(--b2); }

li::marker {
    color: var(--sec);
}

pre:has(> code) { background-color: var(--bgCode) !important; padding: 8px; border-radius: 5px; }
code {
    font-size: 1rem;
    background-color: var(--bgCode);
    padding: 0 0.5rem;
    border-radius: 0.125rem;
}

a {
    color: var(--fg);
    text-decoration: none;
}

.article {
    padding-left: 12px;
    padding-inline: 16px;
    height: 30px;
    display: flex;
    align-items: center;
}

.group-header {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .25rem .5rem;
    padding-inline: 16px;
}

.article:hover, .group-header:hover {
    background-color: var(--bg2);
    cursor: pointer;
}

.group-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
            
.group-content {
    max-height: 0;
    overflow: hidden;
}
            
/* Checkbox cachée pour contrôler l'état */
.group-toggle {
    display: none;
}
            
/* Quand la checkbox est cochée */
.group-toggle:checked + .group-header .group-icon {
    transform: rotate(45deg); /* Transforme + en × */
}
            
.group-toggle:checked + .group-header + .group-content {
    max-height: 500px; /* Assez grand pour le contenu */
}

/* .group-content a {
    padding-left: 2.5em;
} */

.group-content a::before {
    content: " ";
    margin-right: 1rem;
    margin-left: .5rem;
    width: 2px;
    height: 100%;
    background-color: var(--bg4);
}

div#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .5rem;
    padding-right: 1rem;
}
div#controls form {
    width: fit-content;
    padding: 0;
}
div#controls button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
div#controls input {
    width: max-content;
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid var(--prim);
    color: var(--fg2);
    font-size: .95rem;
}
div#controls input:focus {
    border-color: var(--sec);
}

div#area a {
    color: var(--sec);
    text-decoration: underline;
}